HGD/dataset
HGD/test_comandi.ipynb
BCI2b_IV/dataset
BCI2a_IV/dataset
HGD/preprocessRDWT.py
BCI2b_IV/preprocessRDWT.py
BCI2a_IV/preprocessRDWT.py
a.txt
Old
.DS_Store
BCI2b_IV/.DS_Store
HGD/.DS_Store
BCI2a_IV/offline_commands.py
BCI2b_IV/offline_commands.py
HGD/offline_commands.py
16473_RatioWaveNet.pdf
HGD/None_RDWT_ATCNet_HGD_LOSO_2.ipynb
HGD/RatioWaveNet_None_RDWT_HGD_LOSO_2.ipynb
BCI2b_5_Train.png
NeurIPSvsNewModel.txt
CASPER_RatioWaveNet
BCI2a_IV/mental_work_load
BCI2b_IV/mental_work_load
HGD/mental_work_load
BCI2a_IV/RatioWaveNet2.ipynb
BCI2a_IV/RatioWaveNet_RDWT_BCI2a.ipynb
RatioWaveNet_Results.txt
provacommands.ipynb
BCI2a_IV/RatioWaveNet_RDWT_None_STFT_BCI2a.ipynb
BCI2a_IV/resultsRatioWaveNet_RDWT
BCI2a_IV/RDWTvsNone_BCI2a.txt
BCI2a_IV/preprocessRatioWaveNet.py
HGD/preprocess_HGD_RatioWaveNet.py